<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.aso.biz.db.dao.ext.CostBillItemExtMapper" >
  <resultMap id="BaseResultMap" type="com.ai.aso.biz.db.model.CostBillItem" >
    <id column="Cost_Item_Id" property="costItemId" jdbcType="BIGINT" />
    <result column="Bill_Month" property="billMonth" jdbcType="VARCHAR" />
    <result column="Cust_Id" property="custId" jdbcType="VARCHAR" />
    <result column="Cust_Name" property="custName" jdbcType="VARCHAR" />
    <result column="Region_Id" property="regionId" jdbcType="INTEGER" />
    <result column="Region_Name" property="regionName" jdbcType="VARCHAR" />
    <result column="Busi_Mode" property="busiMode" jdbcType="INTEGER" />
    <result column="Pay_Type" property="payType" jdbcType="SMALLINT" />
    <result column="Cont_Id" property="contId" jdbcType="VARCHAR" />
    <result column="Used_Data" property="usedData" jdbcType="BIGINT" />
    <result column="Exp_Data" property="expData" jdbcType="BIGINT" />
    <result column="Bill_Fee" property="billFee" jdbcType="BIGINT" />
    <result column="Total_Fee" property="totalFee" jdbcType="BIGINT" />
    <result column="Off_Fee" property="offFee" jdbcType="BIGINT" />
    <result column="Discount" property="discount" jdbcType="INTEGER" />
    <result column="Cost_Region" property="costRegion" jdbcType="INTEGER" />
    <result column="Cost_Center" property="costCenter" jdbcType="VARCHAR" />
    <result column="Ext1" property="ext1" jdbcType="VARCHAR" />
    <result column="Ext2" property="ext2" jdbcType="VARCHAR" />
    <result column="Ext3" property="ext3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Cost_Item_Id, Bill_Month, Cust_Id, Cust_Name, Region_Id, Region_Name, Busi_Mode, 
    Pay_Type, Cont_Id, Used_Data, Exp_Data, Bill_Fee, Total_Fee, Off_Fee, Discount, Cost_Region, 
    Cost_Center, Ext1, Ext2, Ext3
  </sql>
  
  <insert id="batchInsert" parameterType="java.util.List">
  	insert into tc_cost_bill_item
    (Cost_Item_Id, Bill_Month, Cust_Id, 
      Cust_Name, Region_Id, Region_Name, 
      Busi_Mode, Pay_Type, Cont_Id, 
      Used_Data, Exp_Data, Bill_Fee, 
      Total_Fee, Off_Fee, Income, 
      Discount, Cost_Region, Cost_Center, 
      Ext1, Ext2, Ext3)
    values
    <foreach collection="list" item="item" index="index" separator="," > 
    	(#{item.costItemId,jdbcType=BIGINT}, #{item.billMonth,jdbcType=VARCHAR}, #{item.custId,jdbcType=VARCHAR}, 
      #{item.custName,jdbcType=VARCHAR}, #{item.regionId,jdbcType=INTEGER}, #{item.regionName,jdbcType=VARCHAR}, 
      #{item.busiMode,jdbcType=INTEGER}, #{item.payType,jdbcType=SMALLINT}, #{item.contId,jdbcType=VARCHAR}, 
      #{item.usedData,jdbcType=BIGINT}, #{item.expData,jdbcType=BIGINT}, #{item.billFee,jdbcType=BIGINT}, 
      #{item.totalFee,jdbcType=BIGINT}, #{item.offFee,jdbcType=BIGINT}, #{item.income,jdbcType=BIGINT}, 
      #{item.discount,jdbcType=INTEGER}, #{item.costRegion,jdbcType=INTEGER}, #{item.costCenter,jdbcType=VARCHAR}, 
      #{item.ext1,jdbcType=VARCHAR}, #{item.ext2,jdbcType=VARCHAR}, #{item.ext3,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <select id="selectCulmunFee" parameterType="java.lang.String" resultType="java.lang.Long">
  SELECT
	SUM(Bill_Fee)
	FROM
		tc_cost_bill
	WHERE
	Bill_Month =#{billMonth}
	AND Ext1 = #{ext1}
	AND Cust_Id = #{custId}
	AND Region_Id = #{regionId}
  </select>
</mapper>