<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.aso.biz.db.dao.ext.EnablerApplyExtMapper" >
  
  <select id="getIps" resultType="java.lang.String">
  	SELECT b.host_ip

	FROM tc_enabler_apply a,tc_enabler_host b 

	WHERE a.apply_id = b.apply_id and a.state=200 and a.cust_id = #{custId}
  </select>
  
  <select id="getAllIps" resultType="java.lang.String">
  	SELECT b.host_ip

	FROM tc_enabler_apply a,tc_enabler_host b 

	WHERE a.apply_id = b.apply_id and a.state=200
  </select>
  
</mapper>