<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.aso.common.db.dao.BillRecMapper" >
  <resultMap id="BaseResultMap" type="com.ai.aso.common.db.model.BillRec" >
    <id column="Bill_Rec_Id" property="billRecId" jdbcType="BIGINT" />
    <result column="Bill_Month" property="billMonth" jdbcType="VARCHAR" />
    <result column="Bill_Batch" property="billBatch" jdbcType="VARCHAR" />
    <result column="Source_Type" property="sourceType" jdbcType="INTEGER" />
    <result column="Pay_Type" property="payType" jdbcType="SMALLINT" />
    <result column="Data_Book_Id" property="dataBookId" jdbcType="VARCHAR" />
    <result column="Cap_Book_Id" property="capBookId" jdbcType="VARCHAR" />
    <result column="Rec_No" property="recNo" jdbcType="VARCHAR" />
    <result column="Batch_Code" property="batchCode" jdbcType="BIGINT" />
    <result column="Rec_Class" property="recClass" jdbcType="SMALLINT" />
    <result column="Rec_Mode" property="recMode" jdbcType="INTEGER" />
    <result column="Cont_Id" property="contId" jdbcType="VARCHAR" />
    <result column="Cont_No" property="contNo" jdbcType="VARCHAR" />
    <result column="Cust_Id" property="custId" jdbcType="VARCHAR" />
    <result column="Cust_Name" property="custName" jdbcType="VARCHAR" />
    <result column="Region_Id" property="regionId" jdbcType="INTEGER" />
    <result column="Region_Name" property="regionName" jdbcType="VARCHAR" />
    <result column="Busi_Mode" property="busiMode" jdbcType="INTEGER" />
    <result column="User_Nbr" property="userNbr" jdbcType="VARCHAR" />
    <result column="Cost_Region" property="costRegion" jdbcType="INTEGER" />
    <result column="Cost_Region_Name" property="costRegionName" jdbcType="VARCHAR" />
    <result column="Serv_Id" property="servId" jdbcType="VARCHAR" />
    <result column="Bill_Offer_Id" property="billOfferId" jdbcType="VARCHAR" />
    <result column="Offer_Inst" property="offerInst" jdbcType="VARCHAR" />
    <result column="Goods_Id" property="goodsId" jdbcType="VARCHAR" />
    <result column="Goods_Type" property="goodsType" jdbcType="INTEGER" />
    <result column="Data_Type" property="dataType" jdbcType="INTEGER" />
    <result column="Goods_Name" property="goodsName" jdbcType="VARCHAR" />
    <result column="Data_Val" property="dataVal" jdbcType="BIGINT" />
    <result column="Discount" property="discount" jdbcType="INTEGER" />
    <result column="Bill_Fee" property="billFee" jdbcType="BIGINT" />
    <result column="Total_Fee" property="totalFee" jdbcType="BIGINT" />
    <result column="Off_Fee" property="offFee" jdbcType="BIGINT" />
    <result column="Cost_Rate" property="costRate" jdbcType="INTEGER" />
    <result column="Cost_Fee" property="costFee" jdbcType="BIGINT" />
    <result column="Remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="Rec_State" property="recState" jdbcType="SMALLINT" />
    <result column="Sub_Date" property="subDate" jdbcType="TIMESTAMP" />
    <result column="Rec_Date" property="recDate" jdbcType="TIMESTAMP" />
    <result column="Trd_Rec" property="trdRec" jdbcType="VARCHAR" />
    <result column="Trd_Saler" property="trdSaler" jdbcType="VARCHAR" />
    <result column="Trd_Activity" property="trdActivity" jdbcType="VARCHAR" />
    <result column="Cost_Center" property="costCenter" jdbcType="VARCHAR" />
    <result column="State" property="state" jdbcType="INTEGER" />
    <result column="Ext1" property="ext1" jdbcType="VARCHAR" />
    <result column="Ext2" property="ext2" jdbcType="VARCHAR" />
    <result column="Ext3" property="ext3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Bill_Rec_Id, Bill_Month, Bill_Batch, Source_Type, Pay_Type, Data_Book_Id, Cap_Book_Id, 
    Rec_No, Batch_Code, Rec_Class, Rec_Mode, Cont_Id, Cont_No, Cust_Id, Cust_Name, Region_Id, 
    Region_Name, Busi_Mode, User_Nbr, Cost_Region, Cost_Region_Name, Serv_Id, Bill_Offer_Id, 
    Offer_Inst, Goods_Id, Goods_Type, Data_Type, Goods_Name, Data_Val, Discount, Bill_Fee, 
    Total_Fee, Off_Fee, Cost_Rate, Cost_Fee, Remarks, Rec_State, Sub_Date, Rec_Date, 
    Trd_Rec, Trd_Saler, Trd_Activity, Cost_Center, `State`, Ext1, Ext2, Ext3
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.aso.common.db.model.BillRecExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tc_bill_rec
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tc_bill_rec
    where Bill_Rec_Id = #{billRecId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tc_bill_rec
    where Bill_Rec_Id = #{billRecId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.aso.common.db.model.BillRecExample" >
    delete from tc_bill_rec
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.aso.common.db.model.BillRec" >
    insert into tc_bill_rec (Bill_Rec_Id, Bill_Month, Bill_Batch, 
      Source_Type, Pay_Type, Data_Book_Id, 
      Cap_Book_Id, Rec_No, Batch_Code, 
      Rec_Class, Rec_Mode, Cont_Id, 
      Cont_No, Cust_Id, Cust_Name, 
      Region_Id, Region_Name, Busi_Mode, 
      User_Nbr, Cost_Region, Cost_Region_Name, 
      Serv_Id, Bill_Offer_Id, Offer_Inst, 
      Goods_Id, Goods_Type, Data_Type, 
      Goods_Name, Data_Val, Discount, 
      Bill_Fee, Total_Fee, Off_Fee, 
      Cost_Rate, Cost_Fee, Remarks, 
      Rec_State, Sub_Date, Rec_Date, 
      Trd_Rec, Trd_Saler, Trd_Activity, 
      Cost_Center, `State`, Ext1, 
      Ext2, Ext3)
    values (#{billRecId,jdbcType=BIGINT}, #{billMonth,jdbcType=VARCHAR}, #{billBatch,jdbcType=VARCHAR}, 
      #{sourceType,jdbcType=INTEGER}, #{payType,jdbcType=SMALLINT}, #{dataBookId,jdbcType=VARCHAR}, 
      #{capBookId,jdbcType=VARCHAR}, #{recNo,jdbcType=VARCHAR}, #{batchCode,jdbcType=BIGINT}, 
      #{recClass,jdbcType=SMALLINT}, #{recMode,jdbcType=INTEGER}, #{contId,jdbcType=VARCHAR}, 
      #{contNo,jdbcType=VARCHAR}, #{custId,jdbcType=VARCHAR}, #{custName,jdbcType=VARCHAR}, 
      #{regionId,jdbcType=INTEGER}, #{regionName,jdbcType=VARCHAR}, #{busiMode,jdbcType=INTEGER}, 
      #{userNbr,jdbcType=VARCHAR}, #{costRegion,jdbcType=INTEGER}, #{costRegionName,jdbcType=VARCHAR}, 
      #{servId,jdbcType=VARCHAR}, #{billOfferId,jdbcType=VARCHAR}, #{offerInst,jdbcType=VARCHAR}, 
      #{goodsId,jdbcType=VARCHAR}, #{goodsType,jdbcType=INTEGER}, #{dataType,jdbcType=INTEGER}, 
      #{goodsName,jdbcType=VARCHAR}, #{dataVal,jdbcType=BIGINT}, #{discount,jdbcType=INTEGER}, 
      #{billFee,jdbcType=BIGINT}, #{totalFee,jdbcType=BIGINT}, #{offFee,jdbcType=BIGINT}, 
      #{costRate,jdbcType=INTEGER}, #{costFee,jdbcType=BIGINT}, #{remarks,jdbcType=VARCHAR}, 
      #{recState,jdbcType=SMALLINT}, #{subDate,jdbcType=TIMESTAMP}, #{recDate,jdbcType=TIMESTAMP}, 
      #{trdRec,jdbcType=VARCHAR}, #{trdSaler,jdbcType=VARCHAR}, #{trdActivity,jdbcType=VARCHAR}, 
      #{costCenter,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{ext1,jdbcType=VARCHAR}, 
      #{ext2,jdbcType=VARCHAR}, #{ext3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.aso.common.db.model.BillRec" >
    insert into tc_bill_rec
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="billRecId != null" >
        Bill_Rec_Id,
      </if>
      <if test="billMonth != null" >
        Bill_Month,
      </if>
      <if test="billBatch != null" >
        Bill_Batch,
      </if>
      <if test="sourceType != null" >
        Source_Type,
      </if>
      <if test="payType != null" >
        Pay_Type,
      </if>
      <if test="dataBookId != null" >
        Data_Book_Id,
      </if>
      <if test="capBookId != null" >
        Cap_Book_Id,
      </if>
      <if test="recNo != null" >
        Rec_No,
      </if>
      <if test="batchCode != null" >
        Batch_Code,
      </if>
      <if test="recClass != null" >
        Rec_Class,
      </if>
      <if test="recMode != null" >
        Rec_Mode,
      </if>
      <if test="contId != null" >
        Cont_Id,
      </if>
      <if test="contNo != null" >
        Cont_No,
      </if>
      <if test="custId != null" >
        Cust_Id,
      </if>
      <if test="custName != null" >
        Cust_Name,
      </if>
      <if test="regionId != null" >
        Region_Id,
      </if>
      <if test="regionName != null" >
        Region_Name,
      </if>
      <if test="busiMode != null" >
        Busi_Mode,
      </if>
      <if test="userNbr != null" >
        User_Nbr,
      </if>
      <if test="costRegion != null" >
        Cost_Region,
      </if>
      <if test="costRegionName != null" >
        Cost_Region_Name,
      </if>
      <if test="servId != null" >
        Serv_Id,
      </if>
      <if test="billOfferId != null" >
        Bill_Offer_Id,
      </if>
      <if test="offerInst != null" >
        Offer_Inst,
      </if>
      <if test="goodsId != null" >
        Goods_Id,
      </if>
      <if test="goodsType != null" >
        Goods_Type,
      </if>
      <if test="dataType != null" >
        Data_Type,
      </if>
      <if test="goodsName != null" >
        Goods_Name,
      </if>
      <if test="dataVal != null" >
        Data_Val,
      </if>
      <if test="discount != null" >
        Discount,
      </if>
      <if test="billFee != null" >
        Bill_Fee,
      </if>
      <if test="totalFee != null" >
        Total_Fee,
      </if>
      <if test="offFee != null" >
        Off_Fee,
      </if>
      <if test="costRate != null" >
        Cost_Rate,
      </if>
      <if test="costFee != null" >
        Cost_Fee,
      </if>
      <if test="remarks != null" >
        Remarks,
      </if>
      <if test="recState != null" >
        Rec_State,
      </if>
      <if test="subDate != null" >
        Sub_Date,
      </if>
      <if test="recDate != null" >
        Rec_Date,
      </if>
      <if test="trdRec != null" >
        Trd_Rec,
      </if>
      <if test="trdSaler != null" >
        Trd_Saler,
      </if>
      <if test="trdActivity != null" >
        Trd_Activity,
      </if>
      <if test="costCenter != null" >
        Cost_Center,
      </if>
      <if test="state != null" >
        `State`,
      </if>
      <if test="ext1 != null" >
        Ext1,
      </if>
      <if test="ext2 != null" >
        Ext2,
      </if>
      <if test="ext3 != null" >
        Ext3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="billRecId != null" >
        #{billRecId,jdbcType=BIGINT},
      </if>
      <if test="billMonth != null" >
        #{billMonth,jdbcType=VARCHAR},
      </if>
      <if test="billBatch != null" >
        #{billBatch,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null" >
        #{sourceType,jdbcType=INTEGER},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=SMALLINT},
      </if>
      <if test="dataBookId != null" >
        #{dataBookId,jdbcType=VARCHAR},
      </if>
      <if test="capBookId != null" >
        #{capBookId,jdbcType=VARCHAR},
      </if>
      <if test="recNo != null" >
        #{recNo,jdbcType=VARCHAR},
      </if>
      <if test="batchCode != null" >
        #{batchCode,jdbcType=BIGINT},
      </if>
      <if test="recClass != null" >
        #{recClass,jdbcType=SMALLINT},
      </if>
      <if test="recMode != null" >
        #{recMode,jdbcType=INTEGER},
      </if>
      <if test="contId != null" >
        #{contId,jdbcType=VARCHAR},
      </if>
      <if test="contNo != null" >
        #{contNo,jdbcType=VARCHAR},
      </if>
      <if test="custId != null" >
        #{custId,jdbcType=VARCHAR},
      </if>
      <if test="custName != null" >
        #{custName,jdbcType=VARCHAR},
      </if>
      <if test="regionId != null" >
        #{regionId,jdbcType=INTEGER},
      </if>
      <if test="regionName != null" >
        #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="busiMode != null" >
        #{busiMode,jdbcType=INTEGER},
      </if>
      <if test="userNbr != null" >
        #{userNbr,jdbcType=VARCHAR},
      </if>
      <if test="costRegion != null" >
        #{costRegion,jdbcType=INTEGER},
      </if>
      <if test="costRegionName != null" >
        #{costRegionName,jdbcType=VARCHAR},
      </if>
      <if test="servId != null" >
        #{servId,jdbcType=VARCHAR},
      </if>
      <if test="billOfferId != null" >
        #{billOfferId,jdbcType=VARCHAR},
      </if>
      <if test="offerInst != null" >
        #{offerInst,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="goodsType != null" >
        #{goodsType,jdbcType=INTEGER},
      </if>
      <if test="dataType != null" >
        #{dataType,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="dataVal != null" >
        #{dataVal,jdbcType=BIGINT},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=INTEGER},
      </if>
      <if test="billFee != null" >
        #{billFee,jdbcType=BIGINT},
      </if>
      <if test="totalFee != null" >
        #{totalFee,jdbcType=BIGINT},
      </if>
      <if test="offFee != null" >
        #{offFee,jdbcType=BIGINT},
      </if>
      <if test="costRate != null" >
        #{costRate,jdbcType=INTEGER},
      </if>
      <if test="costFee != null" >
        #{costFee,jdbcType=BIGINT},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="recState != null" >
        #{recState,jdbcType=SMALLINT},
      </if>
      <if test="subDate != null" >
        #{subDate,jdbcType=TIMESTAMP},
      </if>
      <if test="recDate != null" >
        #{recDate,jdbcType=TIMESTAMP},
      </if>
      <if test="trdRec != null" >
        #{trdRec,jdbcType=VARCHAR},
      </if>
      <if test="trdSaler != null" >
        #{trdSaler,jdbcType=VARCHAR},
      </if>
      <if test="trdActivity != null" >
        #{trdActivity,jdbcType=VARCHAR},
      </if>
      <if test="costCenter != null" >
        #{costCenter,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="ext1 != null" >
        #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        #{ext3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.aso.common.db.model.BillRecExample" resultType="java.lang.Integer" >
    select count(*) from tc_bill_rec
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tc_bill_rec
    <set >
      <if test="record.billRecId != null" >
        Bill_Rec_Id = #{record.billRecId,jdbcType=BIGINT},
      </if>
      <if test="record.billMonth != null" >
        Bill_Month = #{record.billMonth,jdbcType=VARCHAR},
      </if>
      <if test="record.billBatch != null" >
        Bill_Batch = #{record.billBatch,jdbcType=VARCHAR},
      </if>
      <if test="record.sourceType != null" >
        Source_Type = #{record.sourceType,jdbcType=INTEGER},
      </if>
      <if test="record.payType != null" >
        Pay_Type = #{record.payType,jdbcType=SMALLINT},
      </if>
      <if test="record.dataBookId != null" >
        Data_Book_Id = #{record.dataBookId,jdbcType=VARCHAR},
      </if>
      <if test="record.capBookId != null" >
        Cap_Book_Id = #{record.capBookId,jdbcType=VARCHAR},
      </if>
      <if test="record.recNo != null" >
        Rec_No = #{record.recNo,jdbcType=VARCHAR},
      </if>
      <if test="record.batchCode != null" >
        Batch_Code = #{record.batchCode,jdbcType=BIGINT},
      </if>
      <if test="record.recClass != null" >
        Rec_Class = #{record.recClass,jdbcType=SMALLINT},
      </if>
      <if test="record.recMode != null" >
        Rec_Mode = #{record.recMode,jdbcType=INTEGER},
      </if>
      <if test="record.contId != null" >
        Cont_Id = #{record.contId,jdbcType=VARCHAR},
      </if>
      <if test="record.contNo != null" >
        Cont_No = #{record.contNo,jdbcType=VARCHAR},
      </if>
      <if test="record.custId != null" >
        Cust_Id = #{record.custId,jdbcType=VARCHAR},
      </if>
      <if test="record.custName != null" >
        Cust_Name = #{record.custName,jdbcType=VARCHAR},
      </if>
      <if test="record.regionId != null" >
        Region_Id = #{record.regionId,jdbcType=INTEGER},
      </if>
      <if test="record.regionName != null" >
        Region_Name = #{record.regionName,jdbcType=VARCHAR},
      </if>
      <if test="record.busiMode != null" >
        Busi_Mode = #{record.busiMode,jdbcType=INTEGER},
      </if>
      <if test="record.userNbr != null" >
        User_Nbr = #{record.userNbr,jdbcType=VARCHAR},
      </if>
      <if test="record.costRegion != null" >
        Cost_Region = #{record.costRegion,jdbcType=INTEGER},
      </if>
      <if test="record.costRegionName != null" >
        Cost_Region_Name = #{record.costRegionName,jdbcType=VARCHAR},
      </if>
      <if test="record.servId != null" >
        Serv_Id = #{record.servId,jdbcType=VARCHAR},
      </if>
      <if test="record.billOfferId != null" >
        Bill_Offer_Id = #{record.billOfferId,jdbcType=VARCHAR},
      </if>
      <if test="record.offerInst != null" >
        Offer_Inst = #{record.offerInst,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsId != null" >
        Goods_Id = #{record.goodsId,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsType != null" >
        Goods_Type = #{record.goodsType,jdbcType=INTEGER},
      </if>
      <if test="record.dataType != null" >
        Data_Type = #{record.dataType,jdbcType=INTEGER},
      </if>
      <if test="record.goodsName != null" >
        Goods_Name = #{record.goodsName,jdbcType=VARCHAR},
      </if>
      <if test="record.dataVal != null" >
        Data_Val = #{record.dataVal,jdbcType=BIGINT},
      </if>
      <if test="record.discount != null" >
        Discount = #{record.discount,jdbcType=INTEGER},
      </if>
      <if test="record.billFee != null" >
        Bill_Fee = #{record.billFee,jdbcType=BIGINT},
      </if>
      <if test="record.totalFee != null" >
        Total_Fee = #{record.totalFee,jdbcType=BIGINT},
      </if>
      <if test="record.offFee != null" >
        Off_Fee = #{record.offFee,jdbcType=BIGINT},
      </if>
      <if test="record.costRate != null" >
        Cost_Rate = #{record.costRate,jdbcType=INTEGER},
      </if>
      <if test="record.costFee != null" >
        Cost_Fee = #{record.costFee,jdbcType=BIGINT},
      </if>
      <if test="record.remarks != null" >
        Remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.recState != null" >
        Rec_State = #{record.recState,jdbcType=SMALLINT},
      </if>
      <if test="record.subDate != null" >
        Sub_Date = #{record.subDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.recDate != null" >
        Rec_Date = #{record.recDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.trdRec != null" >
        Trd_Rec = #{record.trdRec,jdbcType=VARCHAR},
      </if>
      <if test="record.trdSaler != null" >
        Trd_Saler = #{record.trdSaler,jdbcType=VARCHAR},
      </if>
      <if test="record.trdActivity != null" >
        Trd_Activity = #{record.trdActivity,jdbcType=VARCHAR},
      </if>
      <if test="record.costCenter != null" >
        Cost_Center = #{record.costCenter,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        `State` = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.ext1 != null" >
        Ext1 = #{record.ext1,jdbcType=VARCHAR},
      </if>
      <if test="record.ext2 != null" >
        Ext2 = #{record.ext2,jdbcType=VARCHAR},
      </if>
      <if test="record.ext3 != null" >
        Ext3 = #{record.ext3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tc_bill_rec
    set Bill_Rec_Id = #{record.billRecId,jdbcType=BIGINT},
      Bill_Month = #{record.billMonth,jdbcType=VARCHAR},
      Bill_Batch = #{record.billBatch,jdbcType=VARCHAR},
      Source_Type = #{record.sourceType,jdbcType=INTEGER},
      Pay_Type = #{record.payType,jdbcType=SMALLINT},
      Data_Book_Id = #{record.dataBookId,jdbcType=VARCHAR},
      Cap_Book_Id = #{record.capBookId,jdbcType=VARCHAR},
      Rec_No = #{record.recNo,jdbcType=VARCHAR},
      Batch_Code = #{record.batchCode,jdbcType=BIGINT},
      Rec_Class = #{record.recClass,jdbcType=SMALLINT},
      Rec_Mode = #{record.recMode,jdbcType=INTEGER},
      Cont_Id = #{record.contId,jdbcType=VARCHAR},
      Cont_No = #{record.contNo,jdbcType=VARCHAR},
      Cust_Id = #{record.custId,jdbcType=VARCHAR},
      Cust_Name = #{record.custName,jdbcType=VARCHAR},
      Region_Id = #{record.regionId,jdbcType=INTEGER},
      Region_Name = #{record.regionName,jdbcType=VARCHAR},
      Busi_Mode = #{record.busiMode,jdbcType=INTEGER},
      User_Nbr = #{record.userNbr,jdbcType=VARCHAR},
      Cost_Region = #{record.costRegion,jdbcType=INTEGER},
      Cost_Region_Name = #{record.costRegionName,jdbcType=VARCHAR},
      Serv_Id = #{record.servId,jdbcType=VARCHAR},
      Bill_Offer_Id = #{record.billOfferId,jdbcType=VARCHAR},
      Offer_Inst = #{record.offerInst,jdbcType=VARCHAR},
      Goods_Id = #{record.goodsId,jdbcType=VARCHAR},
      Goods_Type = #{record.goodsType,jdbcType=INTEGER},
      Data_Type = #{record.dataType,jdbcType=INTEGER},
      Goods_Name = #{record.goodsName,jdbcType=VARCHAR},
      Data_Val = #{record.dataVal,jdbcType=BIGINT},
      Discount = #{record.discount,jdbcType=INTEGER},
      Bill_Fee = #{record.billFee,jdbcType=BIGINT},
      Total_Fee = #{record.totalFee,jdbcType=BIGINT},
      Off_Fee = #{record.offFee,jdbcType=BIGINT},
      Cost_Rate = #{record.costRate,jdbcType=INTEGER},
      Cost_Fee = #{record.costFee,jdbcType=BIGINT},
      Remarks = #{record.remarks,jdbcType=VARCHAR},
      Rec_State = #{record.recState,jdbcType=SMALLINT},
      Sub_Date = #{record.subDate,jdbcType=TIMESTAMP},
      Rec_Date = #{record.recDate,jdbcType=TIMESTAMP},
      Trd_Rec = #{record.trdRec,jdbcType=VARCHAR},
      Trd_Saler = #{record.trdSaler,jdbcType=VARCHAR},
      Trd_Activity = #{record.trdActivity,jdbcType=VARCHAR},
      Cost_Center = #{record.costCenter,jdbcType=VARCHAR},
      `State` = #{record.state,jdbcType=INTEGER},
      Ext1 = #{record.ext1,jdbcType=VARCHAR},
      Ext2 = #{record.ext2,jdbcType=VARCHAR},
      Ext3 = #{record.ext3,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.aso.common.db.model.BillRec" >
    update tc_bill_rec
    <set >
      <if test="billMonth != null" >
        Bill_Month = #{billMonth,jdbcType=VARCHAR},
      </if>
      <if test="billBatch != null" >
        Bill_Batch = #{billBatch,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null" >
        Source_Type = #{sourceType,jdbcType=INTEGER},
      </if>
      <if test="payType != null" >
        Pay_Type = #{payType,jdbcType=SMALLINT},
      </if>
      <if test="dataBookId != null" >
        Data_Book_Id = #{dataBookId,jdbcType=VARCHAR},
      </if>
      <if test="capBookId != null" >
        Cap_Book_Id = #{capBookId,jdbcType=VARCHAR},
      </if>
      <if test="recNo != null" >
        Rec_No = #{recNo,jdbcType=VARCHAR},
      </if>
      <if test="batchCode != null" >
        Batch_Code = #{batchCode,jdbcType=BIGINT},
      </if>
      <if test="recClass != null" >
        Rec_Class = #{recClass,jdbcType=SMALLINT},
      </if>
      <if test="recMode != null" >
        Rec_Mode = #{recMode,jdbcType=INTEGER},
      </if>
      <if test="contId != null" >
        Cont_Id = #{contId,jdbcType=VARCHAR},
      </if>
      <if test="contNo != null" >
        Cont_No = #{contNo,jdbcType=VARCHAR},
      </if>
      <if test="custId != null" >
        Cust_Id = #{custId,jdbcType=VARCHAR},
      </if>
      <if test="custName != null" >
        Cust_Name = #{custName,jdbcType=VARCHAR},
      </if>
      <if test="regionId != null" >
        Region_Id = #{regionId,jdbcType=INTEGER},
      </if>
      <if test="regionName != null" >
        Region_Name = #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="busiMode != null" >
        Busi_Mode = #{busiMode,jdbcType=INTEGER},
      </if>
      <if test="userNbr != null" >
        User_Nbr = #{userNbr,jdbcType=VARCHAR},
      </if>
      <if test="costRegion != null" >
        Cost_Region = #{costRegion,jdbcType=INTEGER},
      </if>
      <if test="costRegionName != null" >
        Cost_Region_Name = #{costRegionName,jdbcType=VARCHAR},
      </if>
      <if test="servId != null" >
        Serv_Id = #{servId,jdbcType=VARCHAR},
      </if>
      <if test="billOfferId != null" >
        Bill_Offer_Id = #{billOfferId,jdbcType=VARCHAR},
      </if>
      <if test="offerInst != null" >
        Offer_Inst = #{offerInst,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null" >
        Goods_Id = #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="goodsType != null" >
        Goods_Type = #{goodsType,jdbcType=INTEGER},
      </if>
      <if test="dataType != null" >
        Data_Type = #{dataType,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        Goods_Name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="dataVal != null" >
        Data_Val = #{dataVal,jdbcType=BIGINT},
      </if>
      <if test="discount != null" >
        Discount = #{discount,jdbcType=INTEGER},
      </if>
      <if test="billFee != null" >
        Bill_Fee = #{billFee,jdbcType=BIGINT},
      </if>
      <if test="totalFee != null" >
        Total_Fee = #{totalFee,jdbcType=BIGINT},
      </if>
      <if test="offFee != null" >
        Off_Fee = #{offFee,jdbcType=BIGINT},
      </if>
      <if test="costRate != null" >
        Cost_Rate = #{costRate,jdbcType=INTEGER},
      </if>
      <if test="costFee != null" >
        Cost_Fee = #{costFee,jdbcType=BIGINT},
      </if>
      <if test="remarks != null" >
        Remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="recState != null" >
        Rec_State = #{recState,jdbcType=SMALLINT},
      </if>
      <if test="subDate != null" >
        Sub_Date = #{subDate,jdbcType=TIMESTAMP},
      </if>
      <if test="recDate != null" >
        Rec_Date = #{recDate,jdbcType=TIMESTAMP},
      </if>
      <if test="trdRec != null" >
        Trd_Rec = #{trdRec,jdbcType=VARCHAR},
      </if>
      <if test="trdSaler != null" >
        Trd_Saler = #{trdSaler,jdbcType=VARCHAR},
      </if>
      <if test="trdActivity != null" >
        Trd_Activity = #{trdActivity,jdbcType=VARCHAR},
      </if>
      <if test="costCenter != null" >
        Cost_Center = #{costCenter,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        `State` = #{state,jdbcType=INTEGER},
      </if>
      <if test="ext1 != null" >
        Ext1 = #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        Ext2 = #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        Ext3 = #{ext3,jdbcType=VARCHAR},
      </if>
    </set>
    where Bill_Rec_Id = #{billRecId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.aso.common.db.model.BillRec" >
    update tc_bill_rec
    set Bill_Month = #{billMonth,jdbcType=VARCHAR},
      Bill_Batch = #{billBatch,jdbcType=VARCHAR},
      Source_Type = #{sourceType,jdbcType=INTEGER},
      Pay_Type = #{payType,jdbcType=SMALLINT},
      Data_Book_Id = #{dataBookId,jdbcType=VARCHAR},
      Cap_Book_Id = #{capBookId,jdbcType=VARCHAR},
      Rec_No = #{recNo,jdbcType=VARCHAR},
      Batch_Code = #{batchCode,jdbcType=BIGINT},
      Rec_Class = #{recClass,jdbcType=SMALLINT},
      Rec_Mode = #{recMode,jdbcType=INTEGER},
      Cont_Id = #{contId,jdbcType=VARCHAR},
      Cont_No = #{contNo,jdbcType=VARCHAR},
      Cust_Id = #{custId,jdbcType=VARCHAR},
      Cust_Name = #{custName,jdbcType=VARCHAR},
      Region_Id = #{regionId,jdbcType=INTEGER},
      Region_Name = #{regionName,jdbcType=VARCHAR},
      Busi_Mode = #{busiMode,jdbcType=INTEGER},
      User_Nbr = #{userNbr,jdbcType=VARCHAR},
      Cost_Region = #{costRegion,jdbcType=INTEGER},
      Cost_Region_Name = #{costRegionName,jdbcType=VARCHAR},
      Serv_Id = #{servId,jdbcType=VARCHAR},
      Bill_Offer_Id = #{billOfferId,jdbcType=VARCHAR},
      Offer_Inst = #{offerInst,jdbcType=VARCHAR},
      Goods_Id = #{goodsId,jdbcType=VARCHAR},
      Goods_Type = #{goodsType,jdbcType=INTEGER},
      Data_Type = #{dataType,jdbcType=INTEGER},
      Goods_Name = #{goodsName,jdbcType=VARCHAR},
      Data_Val = #{dataVal,jdbcType=BIGINT},
      Discount = #{discount,jdbcType=INTEGER},
      Bill_Fee = #{billFee,jdbcType=BIGINT},
      Total_Fee = #{totalFee,jdbcType=BIGINT},
      Off_Fee = #{offFee,jdbcType=BIGINT},
      Cost_Rate = #{costRate,jdbcType=INTEGER},
      Cost_Fee = #{costFee,jdbcType=BIGINT},
      Remarks = #{remarks,jdbcType=VARCHAR},
      Rec_State = #{recState,jdbcType=SMALLINT},
      Sub_Date = #{subDate,jdbcType=TIMESTAMP},
      Rec_Date = #{recDate,jdbcType=TIMESTAMP},
      Trd_Rec = #{trdRec,jdbcType=VARCHAR},
      Trd_Saler = #{trdSaler,jdbcType=VARCHAR},
      Trd_Activity = #{trdActivity,jdbcType=VARCHAR},
      Cost_Center = #{costCenter,jdbcType=VARCHAR},
      `State` = #{state,jdbcType=INTEGER},
      Ext1 = #{ext1,jdbcType=VARCHAR},
      Ext2 = #{ext2,jdbcType=VARCHAR},
      Ext3 = #{ext3,jdbcType=VARCHAR}
    where Bill_Rec_Id = #{billRecId,jdbcType=BIGINT}
  </update>
</mapper>