<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.aso.biz.db.dao.GoodsCatalogMapper" >
  <resultMap id="BaseResultMap" type="com.ai.aso.biz.db.model.GoodsCatalog" >
    <id column="Catalog_Id" property="catalogId" jdbcType="VARCHAR" />
    <result column="P_Catalog_Id" property="pCatalogId" jdbcType="VARCHAR" />
    <result column="Catalog_Name" property="catalogName" jdbcType="VARCHAR" />
    <result column="Catalog_State" property="catalogState" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Catalog_Id, P_Catalog_Id, `Catalog_Name`, Catalog_State
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.aso.biz.db.model.GoodsCatalogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tc_goods_catalog
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tc_goods_catalog
    where Catalog_Id = #{catalogId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tc_goods_catalog
    where Catalog_Id = #{catalogId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.aso.biz.db.model.GoodsCatalogExample" >
    delete from tc_goods_catalog
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.aso.biz.db.model.GoodsCatalog" >
    insert into tc_goods_catalog (Catalog_Id, P_Catalog_Id, `Catalog_Name`, 
      Catalog_State)
    values (#{catalogId,jdbcType=VARCHAR}, #{pCatalogId,jdbcType=VARCHAR}, #{catalogName,jdbcType=VARCHAR}, 
      #{catalogState,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.aso.biz.db.model.GoodsCatalog" >
    insert into tc_goods_catalog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="catalogId != null" >
        Catalog_Id,
      </if>
      <if test="pCatalogId != null" >
        P_Catalog_Id,
      </if>
      <if test="catalogName != null" >
        `Catalog_Name`,
      </if>
      <if test="catalogState != null" >
        Catalog_State,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="catalogId != null" >
        #{catalogId,jdbcType=VARCHAR},
      </if>
      <if test="pCatalogId != null" >
        #{pCatalogId,jdbcType=VARCHAR},
      </if>
      <if test="catalogName != null" >
        #{catalogName,jdbcType=VARCHAR},
      </if>
      <if test="catalogState != null" >
        #{catalogState,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.aso.biz.db.model.GoodsCatalogExample" resultType="java.lang.Integer" >
    select count(*) from tc_goods_catalog
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tc_goods_catalog
    <set >
      <if test="record.catalogId != null" >
        Catalog_Id = #{record.catalogId,jdbcType=VARCHAR},
      </if>
      <if test="record.pCatalogId != null" >
        P_Catalog_Id = #{record.pCatalogId,jdbcType=VARCHAR},
      </if>
      <if test="record.catalogName != null" >
        `Catalog_Name` = #{record.catalogName,jdbcType=VARCHAR},
      </if>
      <if test="record.catalogState != null" >
        Catalog_State = #{record.catalogState,jdbcType=SMALLINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tc_goods_catalog
    set Catalog_Id = #{record.catalogId,jdbcType=VARCHAR},
      P_Catalog_Id = #{record.pCatalogId,jdbcType=VARCHAR},
      `Catalog_Name` = #{record.catalogName,jdbcType=VARCHAR},
      Catalog_State = #{record.catalogState,jdbcType=SMALLINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.aso.biz.db.model.GoodsCatalog" >
    update tc_goods_catalog
    <set >
      <if test="pCatalogId != null" >
        P_Catalog_Id = #{pCatalogId,jdbcType=VARCHAR},
      </if>
      <if test="catalogName != null" >
        `Catalog_Name` = #{catalogName,jdbcType=VARCHAR},
      </if>
      <if test="catalogState != null" >
        Catalog_State = #{catalogState,jdbcType=SMALLINT},
      </if>
    </set>
    where Catalog_Id = #{catalogId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.aso.biz.db.model.GoodsCatalog" >
    update tc_goods_catalog
    set P_Catalog_Id = #{pCatalogId,jdbcType=VARCHAR},
      `Catalog_Name` = #{catalogName,jdbcType=VARCHAR},
      Catalog_State = #{catalogState,jdbcType=SMALLINT}
    where Catalog_Id = #{catalogId,jdbcType=VARCHAR}
  </update>
</mapper>