<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.aso.common.db.dao.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.ai.aso.common.db.model.Goods" >
    <id column="Goods_Id" property="goodsId" jdbcType="VARCHAR" />
    <result column="Catalog_Id" property="catalogId" jdbcType="VARCHAR" />
    <result column="Goods_Type" property="goodsType" jdbcType="INTEGER" />
    <result column="Data_Type" property="dataType" jdbcType="INTEGER" />
    <result column="Goods_Name" property="goodsName" jdbcType="VARCHAR" />
    <result column="Goods_Model" property="goodsModel" jdbcType="VARCHAR" />
    <result column="Goods_Specs" property="goodsSpecs" jdbcType="BIGINT" />
    <result column="Goods_Desc" property="goodsDesc" jdbcType="VARCHAR" />
    <result column="Goods_Price" property="goodsPrice" jdbcType="BIGINT" />
    <result column="State" property="state" jdbcType="SMALLINT" />
    <result column="Eff_Date" property="effDate" jdbcType="TIMESTAMP" />
    <result column="Exp_Date" property="expDate" jdbcType="TIMESTAMP" />
    <result column="Bill_Offer_Id" property="billOfferId" jdbcType="VARCHAR" />
    <result column="Ext1" property="ext1" jdbcType="VARCHAR" />
    <result column="Ext2" property="ext2" jdbcType="VARCHAR" />
    <result column="Ext3" property="ext3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Goods_Id, Catalog_Id, Goods_Type, Data_Type, Goods_Name, Goods_Model, Goods_Specs, 
    Goods_Desc, Goods_Price, `State`, Eff_Date, Exp_Date, Bill_Offer_Id, Ext1, Ext2, 
    Ext3
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.aso.common.db.model.GoodsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tc_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tc_goods
    where Goods_Id = #{goodsId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tc_goods
    where Goods_Id = #{goodsId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.aso.common.db.model.GoodsExample" >
    delete from tc_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.aso.common.db.model.Goods" >
    insert into tc_goods (Goods_Id, Catalog_Id, Goods_Type, 
      Data_Type, Goods_Name, Goods_Model, 
      Goods_Specs, Goods_Desc, Goods_Price, 
      `State`, Eff_Date, Exp_Date, 
      Bill_Offer_Id, Ext1, Ext2, 
      Ext3)
    values (#{goodsId,jdbcType=VARCHAR}, #{catalogId,jdbcType=VARCHAR}, #{goodsType,jdbcType=INTEGER}, 
      #{dataType,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR}, #{goodsModel,jdbcType=VARCHAR}, 
      #{goodsSpecs,jdbcType=BIGINT}, #{goodsDesc,jdbcType=VARCHAR}, #{goodsPrice,jdbcType=BIGINT}, 
      #{state,jdbcType=SMALLINT}, #{effDate,jdbcType=TIMESTAMP}, #{expDate,jdbcType=TIMESTAMP}, 
      #{billOfferId,jdbcType=VARCHAR}, #{ext1,jdbcType=VARCHAR}, #{ext2,jdbcType=VARCHAR}, 
      #{ext3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.aso.common.db.model.Goods" >
    insert into tc_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        Goods_Id,
      </if>
      <if test="catalogId != null" >
        Catalog_Id,
      </if>
      <if test="goodsType != null" >
        Goods_Type,
      </if>
      <if test="dataType != null" >
        Data_Type,
      </if>
      <if test="goodsName != null" >
        Goods_Name,
      </if>
      <if test="goodsModel != null" >
        Goods_Model,
      </if>
      <if test="goodsSpecs != null" >
        Goods_Specs,
      </if>
      <if test="goodsDesc != null" >
        Goods_Desc,
      </if>
      <if test="goodsPrice != null" >
        Goods_Price,
      </if>
      <if test="state != null" >
        `State`,
      </if>
      <if test="effDate != null" >
        Eff_Date,
      </if>
      <if test="expDate != null" >
        Exp_Date,
      </if>
      <if test="billOfferId != null" >
        Bill_Offer_Id,
      </if>
      <if test="ext1 != null" >
        Ext1,
      </if>
      <if test="ext2 != null" >
        Ext2,
      </if>
      <if test="ext3 != null" >
        Ext3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="catalogId != null" >
        #{catalogId,jdbcType=VARCHAR},
      </if>
      <if test="goodsType != null" >
        #{goodsType,jdbcType=INTEGER},
      </if>
      <if test="dataType != null" >
        #{dataType,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsModel != null" >
        #{goodsModel,jdbcType=VARCHAR},
      </if>
      <if test="goodsSpecs != null" >
        #{goodsSpecs,jdbcType=BIGINT},
      </if>
      <if test="goodsDesc != null" >
        #{goodsDesc,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null" >
        #{goodsPrice,jdbcType=BIGINT},
      </if>
      <if test="state != null" >
        #{state,jdbcType=SMALLINT},
      </if>
      <if test="effDate != null" >
        #{effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expDate != null" >
        #{expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="billOfferId != null" >
        #{billOfferId,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null" >
        #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        #{ext3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.aso.common.db.model.GoodsExample" resultType="java.lang.Integer" >
    select count(*) from tc_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tc_goods
    <set >
      <if test="record.goodsId != null" >
        Goods_Id = #{record.goodsId,jdbcType=VARCHAR},
      </if>
      <if test="record.catalogId != null" >
        Catalog_Id = #{record.catalogId,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsType != null" >
        Goods_Type = #{record.goodsType,jdbcType=INTEGER},
      </if>
      <if test="record.dataType != null" >
        Data_Type = #{record.dataType,jdbcType=INTEGER},
      </if>
      <if test="record.goodsName != null" >
        Goods_Name = #{record.goodsName,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsModel != null" >
        Goods_Model = #{record.goodsModel,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsSpecs != null" >
        Goods_Specs = #{record.goodsSpecs,jdbcType=BIGINT},
      </if>
      <if test="record.goodsDesc != null" >
        Goods_Desc = #{record.goodsDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsPrice != null" >
        Goods_Price = #{record.goodsPrice,jdbcType=BIGINT},
      </if>
      <if test="record.state != null" >
        `State` = #{record.state,jdbcType=SMALLINT},
      </if>
      <if test="record.effDate != null" >
        Eff_Date = #{record.effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.expDate != null" >
        Exp_Date = #{record.expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.billOfferId != null" >
        Bill_Offer_Id = #{record.billOfferId,jdbcType=VARCHAR},
      </if>
      <if test="record.ext1 != null" >
        Ext1 = #{record.ext1,jdbcType=VARCHAR},
      </if>
      <if test="record.ext2 != null" >
        Ext2 = #{record.ext2,jdbcType=VARCHAR},
      </if>
      <if test="record.ext3 != null" >
        Ext3 = #{record.ext3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tc_goods
    set Goods_Id = #{record.goodsId,jdbcType=VARCHAR},
      Catalog_Id = #{record.catalogId,jdbcType=VARCHAR},
      Goods_Type = #{record.goodsType,jdbcType=INTEGER},
      Data_Type = #{record.dataType,jdbcType=INTEGER},
      Goods_Name = #{record.goodsName,jdbcType=VARCHAR},
      Goods_Model = #{record.goodsModel,jdbcType=VARCHAR},
      Goods_Specs = #{record.goodsSpecs,jdbcType=BIGINT},
      Goods_Desc = #{record.goodsDesc,jdbcType=VARCHAR},
      Goods_Price = #{record.goodsPrice,jdbcType=BIGINT},
      `State` = #{record.state,jdbcType=SMALLINT},
      Eff_Date = #{record.effDate,jdbcType=TIMESTAMP},
      Exp_Date = #{record.expDate,jdbcType=TIMESTAMP},
      Bill_Offer_Id = #{record.billOfferId,jdbcType=VARCHAR},
      Ext1 = #{record.ext1,jdbcType=VARCHAR},
      Ext2 = #{record.ext2,jdbcType=VARCHAR},
      Ext3 = #{record.ext3,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.aso.common.db.model.Goods" >
    update tc_goods
    <set >
      <if test="catalogId != null" >
        Catalog_Id = #{catalogId,jdbcType=VARCHAR},
      </if>
      <if test="goodsType != null" >
        Goods_Type = #{goodsType,jdbcType=INTEGER},
      </if>
      <if test="dataType != null" >
        Data_Type = #{dataType,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        Goods_Name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsModel != null" >
        Goods_Model = #{goodsModel,jdbcType=VARCHAR},
      </if>
      <if test="goodsSpecs != null" >
        Goods_Specs = #{goodsSpecs,jdbcType=BIGINT},
      </if>
      <if test="goodsDesc != null" >
        Goods_Desc = #{goodsDesc,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null" >
        Goods_Price = #{goodsPrice,jdbcType=BIGINT},
      </if>
      <if test="state != null" >
        `State` = #{state,jdbcType=SMALLINT},
      </if>
      <if test="effDate != null" >
        Eff_Date = #{effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expDate != null" >
        Exp_Date = #{expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="billOfferId != null" >
        Bill_Offer_Id = #{billOfferId,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null" >
        Ext1 = #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        Ext2 = #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        Ext3 = #{ext3,jdbcType=VARCHAR},
      </if>
    </set>
    where Goods_Id = #{goodsId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.aso.common.db.model.Goods" >
    update tc_goods
    set Catalog_Id = #{catalogId,jdbcType=VARCHAR},
      Goods_Type = #{goodsType,jdbcType=INTEGER},
      Data_Type = #{dataType,jdbcType=INTEGER},
      Goods_Name = #{goodsName,jdbcType=VARCHAR},
      Goods_Model = #{goodsModel,jdbcType=VARCHAR},
      Goods_Specs = #{goodsSpecs,jdbcType=BIGINT},
      Goods_Desc = #{goodsDesc,jdbcType=VARCHAR},
      Goods_Price = #{goodsPrice,jdbcType=BIGINT},
      `State` = #{state,jdbcType=SMALLINT},
      Eff_Date = #{effDate,jdbcType=TIMESTAMP},
      Exp_Date = #{expDate,jdbcType=TIMESTAMP},
      Bill_Offer_Id = #{billOfferId,jdbcType=VARCHAR},
      Ext1 = #{ext1,jdbcType=VARCHAR},
      Ext2 = #{ext2,jdbcType=VARCHAR},
      Ext3 = #{ext3,jdbcType=VARCHAR}
    where Goods_Id = #{goodsId,jdbcType=VARCHAR}
  </update>
</mapper>