<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.aso.biz.db.dao.LoginAcctMapper" >
  <resultMap id="BaseResultMap" type="com.ai.aso.biz.db.model.LoginAcct" >
    <id column="Acct_Id" property="acctId" jdbcType="VARCHAR" />
    <result column="Username" property="username" jdbcType="VARCHAR" />
    <result column="Nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="Password" property="password" jdbcType="VARCHAR" />
    <result column="Pw_Salt" property="pwSalt" jdbcType="VARCHAR" />
    <result column="System_Code" property="systemCode" jdbcType="VARCHAR" />
    <result column="State" property="state" jdbcType="SMALLINT" />
    <result column="Create_Date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="Modi_Date" property="modiDate" jdbcType="TIMESTAMP" />
    <result column="Eff_Date" property="effDate" jdbcType="TIMESTAMP" />
    <result column="Exp_Date" property="expDate" jdbcType="TIMESTAMP" />
    <result column="Pw_Mdate" property="pwMdate" jdbcType="TIMESTAMP" />
    <result column="Ext1" property="ext1" jdbcType="VARCHAR" />
    <result column="Ext2" property="ext2" jdbcType="VARCHAR" />
    <result column="Ext3" property="ext3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Acct_Id, Username, Nickname, `Password`, Pw_Salt, System_Code, `State`, Create_Date, 
    Modi_Date, Eff_Date, Exp_Date, Pw_Mdate, Ext1, Ext2, Ext3
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.aso.biz.db.model.LoginAcctExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_login_acct
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_login_acct
    where Acct_Id = #{acctId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_login_acct
    where Acct_Id = #{acctId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.aso.biz.db.model.LoginAcctExample" >
    delete from tb_login_acct
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.aso.biz.db.model.LoginAcct" >
    insert into tb_login_acct (Acct_Id, Username, Nickname, 
      `Password`, Pw_Salt, System_Code, 
      `State`, Create_Date, Modi_Date, 
      Eff_Date, Exp_Date, Pw_Mdate, 
      Ext1, Ext2, Ext3)
    values (#{acctId,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{pwSalt,jdbcType=VARCHAR}, #{systemCode,jdbcType=VARCHAR}, 
      #{state,jdbcType=SMALLINT}, #{createDate,jdbcType=TIMESTAMP}, #{modiDate,jdbcType=TIMESTAMP}, 
      #{effDate,jdbcType=TIMESTAMP}, #{expDate,jdbcType=TIMESTAMP}, #{pwMdate,jdbcType=TIMESTAMP}, 
      #{ext1,jdbcType=VARCHAR}, #{ext2,jdbcType=VARCHAR}, #{ext3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.aso.biz.db.model.LoginAcct" >
    insert into tb_login_acct
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="acctId != null" >
        Acct_Id,
      </if>
      <if test="username != null" >
        Username,
      </if>
      <if test="nickname != null" >
        Nickname,
      </if>
      <if test="password != null" >
        `Password`,
      </if>
      <if test="pwSalt != null" >
        Pw_Salt,
      </if>
      <if test="systemCode != null" >
        System_Code,
      </if>
      <if test="state != null" >
        `State`,
      </if>
      <if test="createDate != null" >
        Create_Date,
      </if>
      <if test="modiDate != null" >
        Modi_Date,
      </if>
      <if test="effDate != null" >
        Eff_Date,
      </if>
      <if test="expDate != null" >
        Exp_Date,
      </if>
      <if test="pwMdate != null" >
        Pw_Mdate,
      </if>
      <if test="ext1 != null" >
        Ext1,
      </if>
      <if test="ext2 != null" >
        Ext2,
      </if>
      <if test="ext3 != null" >
        Ext3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="acctId != null" >
        #{acctId,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="pwSalt != null" >
        #{pwSalt,jdbcType=VARCHAR},
      </if>
      <if test="systemCode != null" >
        #{systemCode,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=SMALLINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modiDate != null" >
        #{modiDate,jdbcType=TIMESTAMP},
      </if>
      <if test="effDate != null" >
        #{effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expDate != null" >
        #{expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="pwMdate != null" >
        #{pwMdate,jdbcType=TIMESTAMP},
      </if>
      <if test="ext1 != null" >
        #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        #{ext3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.aso.biz.db.model.LoginAcctExample" resultType="java.lang.Integer" >
    select count(*) from tb_login_acct
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_login_acct
    <set >
      <if test="record.acctId != null" >
        Acct_Id = #{record.acctId,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null" >
        Username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.nickname != null" >
        Nickname = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        `Password` = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.pwSalt != null" >
        Pw_Salt = #{record.pwSalt,jdbcType=VARCHAR},
      </if>
      <if test="record.systemCode != null" >
        System_Code = #{record.systemCode,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        `State` = #{record.state,jdbcType=SMALLINT},
      </if>
      <if test="record.createDate != null" >
        Create_Date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modiDate != null" >
        Modi_Date = #{record.modiDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.effDate != null" >
        Eff_Date = #{record.effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.expDate != null" >
        Exp_Date = #{record.expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.pwMdate != null" >
        Pw_Mdate = #{record.pwMdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ext1 != null" >
        Ext1 = #{record.ext1,jdbcType=VARCHAR},
      </if>
      <if test="record.ext2 != null" >
        Ext2 = #{record.ext2,jdbcType=VARCHAR},
      </if>
      <if test="record.ext3 != null" >
        Ext3 = #{record.ext3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_login_acct
    set Acct_Id = #{record.acctId,jdbcType=VARCHAR},
      Username = #{record.username,jdbcType=VARCHAR},
      Nickname = #{record.nickname,jdbcType=VARCHAR},
      `Password` = #{record.password,jdbcType=VARCHAR},
      Pw_Salt = #{record.pwSalt,jdbcType=VARCHAR},
      System_Code = #{record.systemCode,jdbcType=VARCHAR},
      `State` = #{record.state,jdbcType=SMALLINT},
      Create_Date = #{record.createDate,jdbcType=TIMESTAMP},
      Modi_Date = #{record.modiDate,jdbcType=TIMESTAMP},
      Eff_Date = #{record.effDate,jdbcType=TIMESTAMP},
      Exp_Date = #{record.expDate,jdbcType=TIMESTAMP},
      Pw_Mdate = #{record.pwMdate,jdbcType=TIMESTAMP},
      Ext1 = #{record.ext1,jdbcType=VARCHAR},
      Ext2 = #{record.ext2,jdbcType=VARCHAR},
      Ext3 = #{record.ext3,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.aso.biz.db.model.LoginAcct" >
    update tb_login_acct
    <set >
      <if test="username != null" >
        Username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        Nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        `Password` = #{password,jdbcType=VARCHAR},
      </if>
      <if test="pwSalt != null" >
        Pw_Salt = #{pwSalt,jdbcType=VARCHAR},
      </if>
      <if test="systemCode != null" >
        System_Code = #{systemCode,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        `State` = #{state,jdbcType=SMALLINT},
      </if>
      <if test="createDate != null" >
        Create_Date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modiDate != null" >
        Modi_Date = #{modiDate,jdbcType=TIMESTAMP},
      </if>
      <if test="effDate != null" >
        Eff_Date = #{effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expDate != null" >
        Exp_Date = #{expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="pwMdate != null" >
        Pw_Mdate = #{pwMdate,jdbcType=TIMESTAMP},
      </if>
      <if test="ext1 != null" >
        Ext1 = #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        Ext2 = #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        Ext3 = #{ext3,jdbcType=VARCHAR},
      </if>
    </set>
    where Acct_Id = #{acctId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.aso.biz.db.model.LoginAcct" >
    update tb_login_acct
    set Username = #{username,jdbcType=VARCHAR},
      Nickname = #{nickname,jdbcType=VARCHAR},
      `Password` = #{password,jdbcType=VARCHAR},
      Pw_Salt = #{pwSalt,jdbcType=VARCHAR},
      System_Code = #{systemCode,jdbcType=VARCHAR},
      `State` = #{state,jdbcType=SMALLINT},
      Create_Date = #{createDate,jdbcType=TIMESTAMP},
      Modi_Date = #{modiDate,jdbcType=TIMESTAMP},
      Eff_Date = #{effDate,jdbcType=TIMESTAMP},
      Exp_Date = #{expDate,jdbcType=TIMESTAMP},
      Pw_Mdate = #{pwMdate,jdbcType=TIMESTAMP},
      Ext1 = #{ext1,jdbcType=VARCHAR},
      Ext2 = #{ext2,jdbcType=VARCHAR},
      Ext3 = #{ext3,jdbcType=VARCHAR}
    where Acct_Id = #{acctId,jdbcType=VARCHAR}
  </update>
</mapper>