<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.aso.common.db.dao.OrderOpMapper" >
  <resultMap id="BaseResultMap" type="com.ai.aso.common.db.model.OrderOp" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="Order_Id" property="orderId" jdbcType="VARCHAR" />
    <result column="Order_Sn" property="orderSn" jdbcType="VARCHAR" />
    <result column="Oper_Comm" property="operComm" jdbcType="VARCHAR" />
    <result column="Oper_Date" property="operDate" jdbcType="TIMESTAMP" />
    <result column="Operator_Id" property="operatorId" jdbcType="BIGINT" />
    <result column="Operator_Name" property="operatorName" jdbcType="VARCHAR" />
    <result column="Remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="Ext1" property="ext1" jdbcType="VARCHAR" />
    <result column="Ext2" property="ext2" jdbcType="VARCHAR" />
    <result column="Ext3" property="ext3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, Order_Id, Order_Sn, Oper_Comm, Oper_Date, Operator_Id, Operator_Name, Remarks, 
    Ext1, Ext2, Ext3
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.aso.common.db.model.OrderOpExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tc_order_op
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tc_order_op
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tc_order_op
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.aso.common.db.model.OrderOpExample" >
    delete from tc_order_op
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.aso.common.db.model.OrderOp" >
    insert into tc_order_op (ID, Order_Id, Order_Sn, 
      Oper_Comm, Oper_Date, Operator_Id, 
      Operator_Name, Remarks, Ext1, 
      Ext2, Ext3)
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=VARCHAR}, #{orderSn,jdbcType=VARCHAR}, 
      #{operComm,jdbcType=VARCHAR}, #{operDate,jdbcType=TIMESTAMP}, #{operatorId,jdbcType=BIGINT}, 
      #{operatorName,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{ext1,jdbcType=VARCHAR}, 
      #{ext2,jdbcType=VARCHAR}, #{ext3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.aso.common.db.model.OrderOp" >
    insert into tc_order_op
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="orderId != null" >
        Order_Id,
      </if>
      <if test="orderSn != null" >
        Order_Sn,
      </if>
      <if test="operComm != null" >
        Oper_Comm,
      </if>
      <if test="operDate != null" >
        Oper_Date,
      </if>
      <if test="operatorId != null" >
        Operator_Id,
      </if>
      <if test="operatorName != null" >
        Operator_Name,
      </if>
      <if test="remarks != null" >
        Remarks,
      </if>
      <if test="ext1 != null" >
        Ext1,
      </if>
      <if test="ext2 != null" >
        Ext2,
      </if>
      <if test="ext3 != null" >
        Ext3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderSn != null" >
        #{orderSn,jdbcType=VARCHAR},
      </if>
      <if test="operComm != null" >
        #{operComm,jdbcType=VARCHAR},
      </if>
      <if test="operDate != null" >
        #{operDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorId != null" >
        #{operatorId,jdbcType=BIGINT},
      </if>
      <if test="operatorName != null" >
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null" >
        #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        #{ext3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.aso.common.db.model.OrderOpExample" resultType="java.lang.Integer" >
    select count(*) from tc_order_op
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tc_order_op
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.orderId != null" >
        Order_Id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderSn != null" >
        Order_Sn = #{record.orderSn,jdbcType=VARCHAR},
      </if>
      <if test="record.operComm != null" >
        Oper_Comm = #{record.operComm,jdbcType=VARCHAR},
      </if>
      <if test="record.operDate != null" >
        Oper_Date = #{record.operDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operatorId != null" >
        Operator_Id = #{record.operatorId,jdbcType=BIGINT},
      </if>
      <if test="record.operatorName != null" >
        Operator_Name = #{record.operatorName,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null" >
        Remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.ext1 != null" >
        Ext1 = #{record.ext1,jdbcType=VARCHAR},
      </if>
      <if test="record.ext2 != null" >
        Ext2 = #{record.ext2,jdbcType=VARCHAR},
      </if>
      <if test="record.ext3 != null" >
        Ext3 = #{record.ext3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tc_order_op
    set ID = #{record.id,jdbcType=BIGINT},
      Order_Id = #{record.orderId,jdbcType=VARCHAR},
      Order_Sn = #{record.orderSn,jdbcType=VARCHAR},
      Oper_Comm = #{record.operComm,jdbcType=VARCHAR},
      Oper_Date = #{record.operDate,jdbcType=TIMESTAMP},
      Operator_Id = #{record.operatorId,jdbcType=BIGINT},
      Operator_Name = #{record.operatorName,jdbcType=VARCHAR},
      Remarks = #{record.remarks,jdbcType=VARCHAR},
      Ext1 = #{record.ext1,jdbcType=VARCHAR},
      Ext2 = #{record.ext2,jdbcType=VARCHAR},
      Ext3 = #{record.ext3,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.aso.common.db.model.OrderOp" >
    update tc_order_op
    <set >
      <if test="orderId != null" >
        Order_Id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderSn != null" >
        Order_Sn = #{orderSn,jdbcType=VARCHAR},
      </if>
      <if test="operComm != null" >
        Oper_Comm = #{operComm,jdbcType=VARCHAR},
      </if>
      <if test="operDate != null" >
        Oper_Date = #{operDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorId != null" >
        Operator_Id = #{operatorId,jdbcType=BIGINT},
      </if>
      <if test="operatorName != null" >
        Operator_Name = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        Remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null" >
        Ext1 = #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        Ext2 = #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        Ext3 = #{ext3,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.aso.common.db.model.OrderOp" >
    update tc_order_op
    set Order_Id = #{orderId,jdbcType=VARCHAR},
      Order_Sn = #{orderSn,jdbcType=VARCHAR},
      Oper_Comm = #{operComm,jdbcType=VARCHAR},
      Oper_Date = #{operDate,jdbcType=TIMESTAMP},
      Operator_Id = #{operatorId,jdbcType=BIGINT},
      Operator_Name = #{operatorName,jdbcType=VARCHAR},
      Remarks = #{remarks,jdbcType=VARCHAR},
      Ext1 = #{ext1,jdbcType=VARCHAR},
      Ext2 = #{ext2,jdbcType=VARCHAR},
      Ext3 = #{ext3,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>