<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.aso.biz.db.dao.PasswordHisMapper" >
  <resultMap id="BaseResultMap" type="com.ai.aso.biz.db.model.PasswordHis" >
    <id column="Id_" property="id" jdbcType="BIGINT" />
    <result column="Acct_Id" property="acctId" jdbcType="VARCHAR" />
    <result column="Password" property="password" jdbcType="VARCHAR" />
    <result column="Pw_Salt" property="pwSalt" jdbcType="VARCHAR" />
    <result column="Eff_Date" property="effDate" jdbcType="TIMESTAMP" />
    <result column="Exp_Date" property="expDate" jdbcType="TIMESTAMP" />
    <result column="Remarks" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Id_, Acct_Id, `Password`, Pw_Salt, Eff_Date, Exp_Date, Remarks
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.aso.biz.db.model.PasswordHisExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_password_his
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_password_his
    where Id_ = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_password_his
    where Id_ = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.aso.biz.db.model.PasswordHisExample" >
    delete from tb_password_his
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.aso.biz.db.model.PasswordHis" >
    insert into tb_password_his (Id_, Acct_Id, `Password`, 
      Pw_Salt, Eff_Date, Exp_Date, 
      Remarks)
    values (#{id,jdbcType=BIGINT}, #{acctId,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{pwSalt,jdbcType=VARCHAR}, #{effDate,jdbcType=TIMESTAMP}, #{expDate,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.aso.biz.db.model.PasswordHis" >
    insert into tb_password_his
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id_,
      </if>
      <if test="acctId != null" >
        Acct_Id,
      </if>
      <if test="password != null" >
        `Password`,
      </if>
      <if test="pwSalt != null" >
        Pw_Salt,
      </if>
      <if test="effDate != null" >
        Eff_Date,
      </if>
      <if test="expDate != null" >
        Exp_Date,
      </if>
      <if test="remarks != null" >
        Remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="acctId != null" >
        #{acctId,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="pwSalt != null" >
        #{pwSalt,jdbcType=VARCHAR},
      </if>
      <if test="effDate != null" >
        #{effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expDate != null" >
        #{expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.aso.biz.db.model.PasswordHisExample" resultType="java.lang.Integer" >
    select count(*) from tb_password_his
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_password_his
    <set >
      <if test="record.id != null" >
        Id_ = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.acctId != null" >
        Acct_Id = #{record.acctId,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        `Password` = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.pwSalt != null" >
        Pw_Salt = #{record.pwSalt,jdbcType=VARCHAR},
      </if>
      <if test="record.effDate != null" >
        Eff_Date = #{record.effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.expDate != null" >
        Exp_Date = #{record.expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remarks != null" >
        Remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_password_his
    set Id_ = #{record.id,jdbcType=BIGINT},
      Acct_Id = #{record.acctId,jdbcType=VARCHAR},
      `Password` = #{record.password,jdbcType=VARCHAR},
      Pw_Salt = #{record.pwSalt,jdbcType=VARCHAR},
      Eff_Date = #{record.effDate,jdbcType=TIMESTAMP},
      Exp_Date = #{record.expDate,jdbcType=TIMESTAMP},
      Remarks = #{record.remarks,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.aso.biz.db.model.PasswordHis" >
    update tb_password_his
    <set >
      <if test="acctId != null" >
        Acct_Id = #{acctId,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        `Password` = #{password,jdbcType=VARCHAR},
      </if>
      <if test="pwSalt != null" >
        Pw_Salt = #{pwSalt,jdbcType=VARCHAR},
      </if>
      <if test="effDate != null" >
        Eff_Date = #{effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expDate != null" >
        Exp_Date = #{expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        Remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where Id_ = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.aso.biz.db.model.PasswordHis" >
    update tb_password_his
    set Acct_Id = #{acctId,jdbcType=VARCHAR},
      `Password` = #{password,jdbcType=VARCHAR},
      Pw_Salt = #{pwSalt,jdbcType=VARCHAR},
      Eff_Date = #{effDate,jdbcType=TIMESTAMP},
      Exp_Date = #{expDate,jdbcType=TIMESTAMP},
      Remarks = #{remarks,jdbcType=VARCHAR}
    where Id_ = #{id,jdbcType=BIGINT}
  </update>
</mapper>